.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  overflow: hidden;
  z-index: 0;
}

.btn-special-animation::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  z-index: -1;
}

.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #b2cfcb;
  letter-spacing: 2px;
}

.section-padding {
  padding: 2em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 4em 2em;
  }
}

@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 5em 2em;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

.logo img {
  display: none;
  position: absolute;
  top: -20px;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.burger-btn {
  position: fixed;
  display: block;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}

.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}

.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}

.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 2px;
  content: '';
  background-color: #fff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.burger-btn__bars--active, .burger-btn__bars--active::after, .burger-btn__bars--active::before {
  background-color: #b2cfcb;
}

.burger-btn__bars {
  width: 100%;
}

.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}

.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.burger-btn .black-bars-color,
.burger-btn .black-bars-color::after,
.burger-btn .black-bars-color::before {
  background-color: #b2cfcb;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

.nav--desktop {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 100;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__items--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.nav__item {
  position: relative;
  display: block;
  margin: 0.5rem 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #b2cfcb;
  font-weight: 300;
  text-decoration: none;
}

.nav__item--desktop {
  position: relative;
  padding: 0.5em 2em;
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  z-index: 1000;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__item--desktop::before, .nav__item--desktop::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__item--desktop::before {
  top: -2px;
  left: -8px;
  border-top: 0 solid #b2cfcb;
  border-left: 0 solid #b2cfcb;
}

.nav__item--desktop::after {
  bottom: -2px;
  right: -8px;
  border-bottom: 0 solid #b2cfcb;
  border-right: 0 solid #b2cfcb;
}

.nav__item--desktop:hover:before, .nav__item--desktop:hover:after {
  width: 50px;
  height: 50%;
}

.nav__item--desktop:hover::before {
  border-top: 2px solid #b2cfcb;
  border-left: 2px solid #b2cfcb;
}

.nav__item--desktop:hover::after {
  border-bottom: 2px solid #b2cfcb;
  border-right: 2px solid #b2cfcb;
}

.nav__item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #b2cfcb;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header {
  height: 100vh;
  background-image: url(../img/slider1.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
}

@-webkit-keyframes headerAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes headerAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header-animation {
  -webkit-animation: headerAnimation 1s both;
          animation: headerAnimation 1s both;
}

.about-me__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me__box-img {
  height: 100%;
  margin: 0 auto 2em;
}

.about-me__box-text {
  padding: 0.5em;
}

.about-me__img {
  -webkit-box-shadow: 0 0 3px #b2cfcb;
          box-shadow: 0 0 3px #b2cfcb;
}

.about-me__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  font-family: "Old Standard TT", serif;
  color: #b2cfcb;
  font-style: italic;
  padding-bottom: 1em;
}

.about-me__text {
  padding-bottom: 0.5em;
  color: #b2cfcb;
}

.about-me__btn {
  margin: 1em auto 0;
  padding: 0.5em;
  width: 100%;
  max-width: 300px;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #b2cfcb;
  border-radius: 8px;
  cursor: pointer;
}

.about-me__btn::before {
  background-color: #88c0b8;
}

@-webkit-keyframes navItemsAnimations {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimations {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about-me .nav-items-animation {
  -webkit-animation: navItemsAnimations 1s both;
          animation: navItemsAnimations 1s both;
}

.gallery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}

.gallery__card {
  position: relative;
  margin: 20px;
  width: 300px;
  height: 300px;
  -webkit-perspective: 350px;
          perspective: 350px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 3px #b2cfcb;
          box-shadow: 0 0 3px #b2cfcb;
  /* border-radius: 15px; */
  -webkit-transition: .8s;
  transition: .8s;
}

.gallery__img--one {
  background-image: url(../img/galeria-main/slubne.jpg);
}

.gallery__img--two {
  background-image: url(../img/galeria-main/narzeczenskie.jpg);
}

.gallery__img--three {
  background-image: url(../img/galeria-main/w-parze.jpg);
}

.gallery__img--four {
  background-image: url(../img/galeria-main/kobiece.jpg);
}

.gallery__img--five {
  background-image: url(../img/galeria-main/rodzinne.jpg);
}

.gallery__img--six {
  background-image: url(../img/galeria-main/biznes.jpg);
}

.gallery__img--seven {
  background-image: url(../img/galeria-main/okolicznosciowe.jpg);
}

.gallery__img--eight {
  background-image: url(../img/galeria-main/wizerunkowa.jpg);
}

.gallery__img--nine {
  background-image: url(../img/galeria-main/beauty.jpg);
}

.gallery__text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  text-align: center;
  -webkit-transition: .8s;
  transition: .8s;
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  color: #2e2e2e;
  -webkit-box-shadow: 0 0 3px #b2cfcb;
          box-shadow: 0 0 3px #b2cfcb;
}

.gallery__title {
  margin-top: calc(50% - 8px);
  text-transform: uppercase;
}

.gallery__btn {
  margin-top: calc(50% - 8px);
  padding: 0.5em;
  background-color: #b2cfcb;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.gallery__btn::before {
  background-color: #88c0b8;
}

.gallery__card:hover .gallery__text {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
}

.gallery__card:hover .gallery__img {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  opacity: 0.2;
}

@media (max-width: 767px) {
  .reviews.section-padding {
    padding: 6em 0;
  }
}

.reviews__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
          box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.reviews__box:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.reviews__box-img {
  position: absolute;
  top: 8%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__box-img img {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.reviews__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
  color: #b2cfcb;
}

.reviews__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #2e2e2e;
}

.contact {
  position: relative;
  background-color: #eee;
  overflow: hidden;
}

.contact__form, .contact__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #b2cfcb;
}

.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}

.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 150px;
}

.contact__form-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: #fff;
  border: none;
  background-color: #b2cfcb;
  border-radius: 8px;
  cursor: pointer;
}

.contact__form-btn::before {
  background-color: #88c0b8;
}

@media (min-width: 992px) {
  .logo img {
    position: fixed;
    display: block;
    z-index: 1000;
  }
  .burger-btn {
    display: none;
  }
  .nav--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-me__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-me__box-text {
    padding: 3em;
  }
  .about-me__title {
    font-size: 2.4rem;
  }
  .about-me__text {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */