@mixin burgerBtn {
  position: absolute;
  right: 0;
  height: 2px;
  content: '';
  background-color: $pure-white;
  transition: width .3s;
}

@mixin galleryBtn {
  margin-top: calc(50% - 8px);
  padding: 0.5em;
  // text-transform: uppercase;
  background-color: $main-color;
  color: $pure-white;
  border-radius: 8px;
  cursor: pointer;
}

@mixin contactForm {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1.6rem;
  background-color: $light-white;
  color: $main-color;

  &:focus {
    border: 1px solid $main-color;
  }
}