@import './colors';
@import './fonts';
@import './components';
@import './mixins';

.wrapper--aboutMe {
  max-width: 650px;
}

.aboutMe {
  color: $main-color;
  padding: 2em 0 1em;
}

.text {
  color: $dark;
}