@import './colors';
@import './fonts';
@import './components';
@import './mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
}

// Nav
.logo {
  img {
    display: none;
    position: absolute;
    top: -20px;
    left: 0;
    width: 150px;
    height: 150px;
    z-index: 1000;
  }
}

.burger-btn {
  position: fixed;
  display: block;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 8px;
  }

  &:hover {

    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::after,
  &__bars::before {
    @include burgerBtn;
  }

  &__bars--active,
  &__bars--active::after,
  &__bars--active::before {
    background-color: $main-color;
  }

  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
      transition-delay: .1s;
    }
  }

  .black-bars-color,
  .black-bars-color::after,
  .black-bars-color::before {
    background-color: $main-color;
  }

}

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $pure-white;
  transform: translateX(100%);
  transition: transform .5s;
  height: 100vh;
  width: 100%;
  z-index: 999;

  &--desktop {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    transition: .3s;
  }

  &--active {
    transform: translateX(0);
  }


  &__items--desktop {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  &__img {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
  }

  &__item {
    position: relative;
    display: block;
    margin: 0.5rem 0;
    padding: 0.5em 2em;
    font-size: 2.8rem;
    color: $main-color;
    font-weight: 300;
    text-decoration: none;



    &--desktop {
      position: relative;
      padding: 0.5em 2em;
      font-size: 2rem;
      color: $pure-white;
      font-weight: 300;
      text-decoration: none;
      z-index: 1000;
      text-transform: uppercase;
      transition: .3s;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        transition: .3s;
      }

      &::before {
        top: -2px;
        left: -8px;
        border-top: 0 solid $main-color;
        border-left: 0 solid $main-color;
      }

      &::after {
        bottom: -2px;
        right: -8px;
        border-bottom: 0 solid $main-color;
        border-right: 0 solid $main-color;
      }


      &:hover:before,
      &:hover:after {
        width: 50px;
        height: 50%;
      }

      &:hover::before {
        border-top: 2px solid $main-color;
        border-left: 2px solid $main-color;
      }

      &:hover::after {
        border-bottom: 2px solid $main-color;
        border-right: 2px solid $main-color;
      }


    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: $main-color;
      transform: scaleY(0);
      transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    &:hover::before {
      transform: scaleY(1);
    }

    &--logo {
      padding: 0.5em 1em;

      &:hover::before {
        transform: scaleY(0);
      }
    }
  }

}

@keyframes navItemsAnimations {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}

.nav-items-animation {
  animation: navItemsAnimations 1s both;
}

//header

// .header {
//   height: 100vh;
//   background-image: url(../img/slider/slider1.jpg);
//   background-size: cover;
//   background-position: center;
//   // transition: background-image 3s;
//   margin: 0 auto;
// }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


//About-me

.about-me {

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;

    &-img {
      height: 100%;
      margin: 0 auto 2em;
    }

    &-text {
      padding: 0.5em;
    }
  }

  &__img {
    @include shadow;
  }


  &__title {
    align-self: flex-start;
    padding-bottom: 1em;
    text-align: center;
    // font-family: 'League Script', cursive;
    color: $main-color;
    font-size: 3rem;

    // font-style: italic;
    letter-spacing: 0.5px;
  }

  &__text {
    padding-bottom: 0.5em;
    color: $main-color;
    letter-spacing: 0.5px;

    a {
      color: $main-color;
      text-decoration: none;
    }
  }

  &__btn {
    margin: 1em auto 0;
    padding: 0.5em;
    width: 100%;
    max-width: 300px;
    text-align: center;
    color: $pure-white;
    border: none;
    background-color: $main-color;
    border-radius: 8px;
    cursor: pointer;

    &::before {
      background-color: $secondary-color;
    }
  }
}

//Gallery
.gallery {
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: $main-font;

  }

  &__card {
    position: relative;
    margin: 0.5em;
    width: 300px;
    height: 300px;
    perspective: 350px;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    @include shadow;
    /* border-radius: 15px; */
    transition: .8s;

    &--one {
      background-image: url(../img/galeria-main/slubne.webp);
    }

    &--two {
      background-image: url(../img/galeria-main/narzeczenskie.webp);
    }

    &--three {
      background-image: url(../img/galeria-main/w-parze.webp);
    }

    &--four {
      background-image: url(../img/galeria-main/beauty.webp);
    }

    &--five {
      background-image: url(../img/galeria-main/rodzinne.webp);
    }

    &--six {
      background-image: url(../img/galeria-main/biznes.webp);
    }

    &--seven {
      background-image: url(../img/galeria-main/okolicznosciowe.webp);
    }

    &--eight {
      background-image: url(../img/galeria-main/wizerunkowa.webp);
    }

    &--nine {
      background-image: url(../img/galeria-main/brzuszkowe.webp);
    }
  }


  &__text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
    transition: .8s;
    opacity: 1;
    // transform: rotateY(-180deg);
    color: $dark;
    box-shadow: 0 0 3px $main-color;

    a {
      text-decoration: none;
    }
  }

  &__title {
    margin-top: calc(50% - 8px);
    text-transform: uppercase;
  }

  &__btn {
    // @include galleryBtn;
    margin-top: calc(80% - 8px);
    padding: 0.5em;
    // text-transform: uppercase;
    background-color: $main-color;
    color: $pure-white;
    border-radius: 8px;
    letter-spacing: 1px;
    cursor: pointer;

    &::before {
      background-color: $secondary-color;
    }
  }
}

// .gallery__card:hover .gallery__text {
//   transform: rotate(0);
//   opacity: 1;
// }

// .gallery__card:hover .gallery__img {
//   transform: rotateY(-180deg);
//   opacity: 0.2;
// }

//Reviews
@media(max-width:767px) {
  .reviews.section-padding {
    padding: 6em 0;
  }
}

.reviews {
  &__box {
    position: relative;
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    @include shadow;
    transition: transform .3s;

    &:hover {
      transform: scale(0.95);
    }

    &-img {
      position: absolute;
      top: 8%;
      left: 75%;
      transform: translate(-50%, -50%);

      img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &-quote {
      margin-bottom: 1em;
      font-size: 3rem;
      color: $main-color;
    }

    &-text {
      margin-bottom: 1em;
      font-size: 1.4rem;
      color: $dark;
    }

  }
}


//Footer

.footer {
  color: $main-color;
  background-color: $light-white;

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em 1em;
  }

  &__logo {
    width: 200px;
    height: 200px;
    margin: 0 auto 3em;
  }


  &__box {
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 2em;
    // text-align: center;

    &:first-child {
      flex-basis: 72%;
      height: 225px;
      overflow: hidden;
      position: relative;
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 2em;
    }


    &-title {
      padding-top: 1em;
      margin-bottom: 1em;
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &-list {
      list-style: none;

      &-item {
        margin-bottom: 1em;

        a {
          color: $main-color;
          text-decoration: none;
        }
      }
    }
  }

  &__img {
    width: 98px;
    height: 98px;
    margin: 1px;
    background-position: center;
    background-size: cover;

    &--one {
      background-image: url(../img/stopka-instagram/1.webp);
    }

    &--two {
      background-image: url(../img/stopka-instagram/2.webp);
    }

    &--three {
      background-image: url(../img/stopka-instagram/3.webp);
    }

    &--four {
      background-image: url(../img/stopka-instagram/4.webp);
    }

    &--five {
      background-image: url(../img/stopka-instagram/5.webp);
    }

    &--six {
      background-image: url(../img/stopka-instagram/6.webp);
    }

    &--seven {
      background-image: url(../img/stopka-instagram/7.webp);
    }

    &--eight {
      background-image: url(../img/stopka-instagram/8.webp);
    }

    &--nine {
      background-image: url(../img/stopka-instagram/9.webp);
    }

    &--ten {
      background-image: url(../img/stopka-instagram/10.webp);
    }

    &--eleven {
      background-image: url(../img/stopka-instagram/11.webp);
    }

    &--twelve {
      background-image: url(../img/stopka-instagram/12.webp);
    }

    &--thirteen {
      background-image: url(../img/stopka-instagram/13.webp);
    }

    &--fourteen {
      background-image: url(../img/stopka-instagram/14.webp);
    }
  }

  &__bottom-text {
    padding: 2em;
    text-align: center;
  }

  &__btn {
    position: absolute;
    padding: 0.5em 1.5em;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    // text-transform: uppercase;
    background-color: $main-color;
    color: $pure-white;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;

    &::before {
      background-color: $secondary-color;
    }
  }
}

//=================================================
//Offer page
//=================================================
.offer {
  &__title {
    margin: 5em 0 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: $main-color;
  }

  &__text {
    margin: 0 auto;
    max-width: 900px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 25px;
    color: $dark;

    &--bottom {
      font-size: 1.6rem;
      color: rgb(160, 160, 160);
    }

    &--margin {
      margin-bottom: 1.5em;
    }

    &--center {
      text-align: center;
    }

    &--mint {
      font-size: 1.8rem;
      font-weight: bold;
      color: $main-color;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    margin: 2em 0 2em;
  }



  &__card {
    margin-top: 2em;
    text-align: center;
    color: $dark;
    padding: 2em;
    @include shadow;
    transform: scale(1);
    transition: transform .3s;

    &--voucher {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5em auto;
      max-width: 660px;
      padding: 1em;
    }



    &:hover {
      transform: scale(1.1);
    }

    &:hover .title,
    &:hover .price {
      color: $secondary-color;
    }

    .title {
      position: relative;
      margin-bottom: 1em;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $main-color;
    }

    .text {
      line-height: 20px;

      &--margin {
        margin-top: 1em;
      }
    }

    .price {
      margin-top: 1em;
      font-size: 1.8rem;
      color: $main-color;
    }
  }

  &__img {
    max-width: 300px;
    padding: 1em;
    margin-bottom: 2em;
  }

  &__voucher-text {
    max-width: 300px;
  }

  &__btn {
    margin: 2em auto 0;
    padding: 0.5em 5em;
    font-size: 1.6rem;
    color: $pure-white;
    border: none;
    background-color: $main-color;
    border-radius: 8px;
    cursor: pointer;

    &::before {
      background-color: $secondary-color;
    }

    &--wedding {
      padding: 1em 6em;
      font-size: 1.5rem;
    }
  }

  a {
    display: block;
    margin: 1em auto;
    max-width: 300px;
    text-align: center;
  }
}

//====================================
//Contact page
///===================================
.contact {
  position: relative;
  background-color: $pure-white;
  overflow: hidden;
  padding-top: 6em;
  max-width: 650px;
  margin: 0 auto;

  &__feather {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  &__form {
    padding: 4em 0 2em;
  }

  &__form,
  &__form-top {
    display: flex;
    flex-direction: column;
  }

  &__form-label {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $main-color;

    strong {
      text-transform: lowercase;
      font-weight: normal;
    }
  }

  &__form-input {
    @include contactForm;

  }

  &__form-textarea {
    @include contactForm;

    max-width: 100%;
    min-width: 100%;
    width: 100%;
    min-height: 150px;

  }

  &__form-btn {
    align-self: flex-end;
    padding: 1em;
    width: 100%;
    max-width: 300px;
    color: $pure-white;
    border: none;
    background-color: $main-color;
    border-radius: 8px;
    letter-spacing: 1px;
    cursor: pointer;

    &::before {
      background-color: $secondary-color;
    }
  }

  &__text {
    color: $main-color;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.5px;
    // line-height: 50px;
    padding-top: 2em;

    &--top {
      padding-top: 2em;
    }

    &--bottom {
      padding-top: 2em;
      line-height: 30px;
    }
  }

  &__img {
    padding: 6em 0;



    img {
      @include shadow;
      height: 100%;
      width: 100%;
    }
  }
}

.thank {
  height: 100vh;
}



// ==================================
//Media
// ==================================
@media(min-width: 768px) {
  .offer {
    &__title {
      margin-top: 10em;
    }

    &__cards {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &__card {
      &--voucher {
        flex-direction: row;
        margin: 10em auto;
      }
    }

    &__img {
      margin-bottom: 0;

    }

    &__text--mint {
      font-size: 2.2rem;
    }
  }



  .footer {
    &__boxes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__box {
      &:first-child {
        display: flex;
      }

      &-title {
        font-size: 2.4rem;
      }

      &-link {
        padding: 0 .3em;
        font-size: 2.6rem;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}


@media(min-width: 992px) {
  .logo {
    img {
      position: fixed;
      display: block;
      z-index: 1000;
    }
  }

  .burger-btn {
    display: none;
  }

  .nav--desktop {
    display: flex;
  }

  .about-me {
    &__box {
      flex-direction: row;

      &-text {
        padding: 3em;
      }
    }

    &__title {
      font-size: 2.4rem;
    }

    &__text {
      font-size: 2rem;
    }
  }

  .footer {
    &__box-list-item {
      font-size: 1.8rem;
    }
  }

  .offer {
    &__title {
      font-size: 2.2rem;
    }

    &__card {

      .title,
      .price {
        font-size: 2rem;
      }
    }
  }

  .gallery {
    &__img {
      opacity: 1;
    }

    &__text {
      opacity: 0;
      transform: rotateY(-180deg);
    }
  }

  .gallery__card:hover .gallery__text {
    transform: rotate(0);
    opacity: 1;
  }

  .gallery__card:hover .gallery__img {
    transform: rotateY(-180deg);
    opacity: 0.2;
  }



}